/* App.css */

/* Styling for the main container */
body{
  background-color: aquamarine;
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Styling for user information */
.user-info {
  margin-bottom: 20px;
}

/* Styling for forms */
.form-group {
  margin-bottom: 10px;
}

/* Styling for buttons */
button {
  padding: 10px 20px;
  background-color: #ff0c0c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}
.button{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

/* Styling for product links */
.product-links {
  margin-top: 20px;
}

/* Styling for product link list */
.product-link-list {
  list-style: none;
  padding: 0;
}

/* Styling for individual product links */
.product-link {
  margin-bottom: 10px;
}

/* Styling for user image */
.user-image {
  max-width: 100px;
  border-radius: 50%;
}
.success{
  color: blue;
}


